dash==2.17.0
dash-mantine-components==0.14.3
dash-iconify==0.1.2
pylette==2.0.1
# this version was required when hosting at pythonanywhere https://github.com/AUTOMATIC1111/stable-diffusion-webui/issues/2552
scipy==1.9.1